# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*~
yarn.lock

# Serverless directories
.serverless
node_modules
.idea
__pycache__
/secrets.yml
/secrets.yml.txt
